# IntelliJ
.idea/
*.iml

# Maven
target/

# Reports
reports/
test-output/
.idea/screenshots/

# VS Code
.vscode/

# OS
.DS_Store

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build folders
build/
!**/src/main/**/build/
!**/src/test/**/build/